.MyCard {
    max-width: 300px;
    height: 370px;
    transition: max-width 0.25s linear, height 0.25s linear !important;
    -webkit-transition: max-width 0.25s linear, height 0.25s linear !important;
    -moz-transition: max-width 0.25s linear, height 0.25s linear !important;
    -o-transition: max-width 0.25s linear, height 0.25s linear !important;
}
.MyCard:hover {
    max-width: 350px;
    height: 400px;
}
