.MyCard {
    max-width: 300px;
    height: 370px;
    transition: max-width 0.25s linear, height 0.25s linear !important;
    opacity: 2000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms,
        transform 1332ms cubic-bezier(0.4, 0, 0.2, 1) 500ms !important;
    transition-property: opacity, transform, max-width, height !important;
    transition-duration: 1000ms, 750ms !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
        cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.MyCard:hover {
    max-width: 350px;
    height: 400px;
}
