.LargeCard {
    max-width: 800px;
    height: 700px;
    transition: max-width 0.25s linear, height 0.25s linear !important;
    -webkit-transition: max-width 0.25s linear, height 0.25s linear !important;
    -moz-transition: max-width 0.25s linear, height 0.25s linear !important;
    -o-transition: max-width 0.25s linear, height 0.25s linear !important;
}
.LargeCard:hover {
    max-width: 850px;
    height: 750px;
}
