.LargeCard {
    max-width: 800px;
    height: 700px;
    transition: all 0.5s linear !important;
    -webkit-transition: all 0.5s linear !important;
    -moz-transition: all 0.5s linear !important;
    -o-transition: all 0.5s linear !important;
}
.LargeCard:hover {
    max-width: 850px;
    height: 750px;
}
